.bwf-image-loader {
	animation: loading-fade 1.6s ease-in-out infinite;
	background-color: #f0f0f0 !important;
	color: transparent;
	display: inline-block;
	border-radius: 3px;
	height: 100%;
	font-size: 0;
	width: 100%;
}
